#styleTable {
	width: 100%;
	table-layout: fixed;
}

#styleTable td {
	padding: 2px;
}

#styleTable a {
	padding: 3px;
}

#styleTable img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#outTable {
	width: 100%;
	table-layout: fixed;
}

#outTable td {
	padding: 2px;
}

#outTable a {
	padding: 3px;
}

#outTable img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}

.selected {
	border: 10px solid red;
}