{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div>
	<ul class="list-group" style="width: 13%; font-size: 17px; background-color: #EAEBEA;">
  		<li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #EAEBEA; border-width: 0px;">
    		<span style="font-weight: bold;">VISITOR NUMBER</span>
    		<div style="display: table; height: 40px; width: 40px;">
    			<div id="visitorCnt">0</div>
    		</span>
  		</li>
  	</ul>
	<table class="table" id="videoTable">
		<tr>
			<td style="text-align: center; width: 100%">
				<button type="button" class="btn btn-primary my-button" id="captureButton">Capture!</button>
			</td>
		</tr>
		<tr id="captureTable1" class="hidden">
			<td style="text-align: center; width: 100%">
				<button type="button" class="btn btn-primary my-button" id="captureAgain">Take Picture Again!</button>
				<button type="button" class="btn btn-primary my-button" id="nextButton1">Next</button>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<video autoplay="true" id="videoElement" width="1000px" height="750px"></video>
				<canvas id="canvasElement2" width="1000px" height="750px" class="hidden"></canvas>
			</td>
		</tr>
	</table>

	<table class="table hidden" id="styleSelectionTable">
	<tr>
		<th></th>
		<th>Click on the image to select a style, you can select a maximum of 3 styles.</th>
	</tr>
	<tr><td style="width: 50%">
		<table id="styleTable2">
			<tr>
				<td>
					<canvas id="canvasElement" width="800px" height="600px"></canvas>
				</td>
			</tr>
		</table>
	</td><td>
		<table id="styleTable">
		</table>
	</td></tr>
	</table>
	<table class="table hidden" id="styleSelectionTable2">
		<tr>
			<td style="text-align: center;">
				<button type="button" class="btn btn-primary my-button" id="backButton1">Back</button>
				<button type="button" class="btn btn-primary my-button" id="applyStyleTransfer">Apply style transfer!</button>
			</td>
		</tr>
	</table>

	<table class="table hidden" id="outTable">
	</table>
	<table class="table hidden" id="outTable2">
		<tr>
			<!-- <td style="text-align: center;">
				<button type="button" class="btn btn-primary" id="backButton2">Back</button>
				<button type="button" class="btn btn-primary" id="captureNewImage">Try on another image!</button>
			</td> -->
			<td style="text-align: center;">
				<form>
				<fieldset>
					<legend>Email it to yourself!</legend>
					<div class="form-group" style="width: 30%; display: inline-block;">
	      				<input type="email" class="form-control" id="emailAdrr" aria-describedby="emailHelp" placeholder="Enter your email">
	      				<small class="form-text text-muted">We'll never share your email with anyone else.</small>
    				</div><br/>
    				<button type="button" class="btn btn-primary my-button" id="emailSubmitBtn">Submit</button>
    			</fieldset>
    			</form>
			</td>
		</tr>
	</table>

</div>

<!-- Script Part -->
<script src="{% static 'js/models.js' %}"></script>
<script type="text/javascript">models.init(); </script>

{% endblock content %}